<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Parcel Directory</title>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"/>
<div class="container">

    <h3>Parcels</h3>
    <hr>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th onclick="sortParcel(this.id, sortdirection)" id="id" style="cursor:hand">id</th>
            <th onclick="sortParcel(this.id, sortdirection)" id="street" style="cursor:hand">street</th>
            <th onclick="sortParcel(this.id, sortdirection)" id="city" style="cursor:hand">city</th>
            <th onclick="sortParcel(this.id, sortdirection)" id="state" style="cursor:hand">state</th>
            <th onclick="sortParcel(this.id, sortdirection)"  id="zipCode" style="cursor:hand">zip code</th>
            <th onclick="sortParcel(this.id, sortdirection)" id="currentOwnerid" style="cursor:hand">current owner id
            <th onclick="sortParcel(this.id, sortdirection)" id="previousOwnerid" style="cursor:hand">previous owner id</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempParcel : ${parcels}">
            <td th:text="${tempParcel.id}"/>
            <td th:text="${tempParcel.street}"/>
            <td th:text="${tempParcel.city}"/>
            <td th:text="${tempParcel.state}"/>
            <td th:text="${tempParcel.zipCode}"/>
            <td th:text="${tempParcel.currentOwnerid}"/>
            <td th:text="${tempParcel.previousOwnerid}"/>

        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/static/js/util.js}" type='text/javascript' ></script>
<script th:inline="javascript">
<!--get order parameter value from model-->
    /*<![CDATA[*/
    var sortdirection = /*[[${order}]]*/ 'default';
    /*]]>*/
</script>

</body>
</html>



