<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Home Directory</title>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h3> Spring Security User Role pages</h3>
        <hr>
        <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a>
        <br>
        <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a>
        <br>
        <a th:href="@{/about}">Normal page</a>
        <br>
        <hr>
    </div>
</div>

<div class="container">

    <h3>Swagger</h3>
    <hr>
    <a th:href="@{/swagger-ui.html#}">Swagger</a>
    <br>
    <hr>
</div>

<div class="container">

    <h3>Data Directory</h3>
    <hr>
    <a th:href="@{/parcel/list?sortBy=id}">Parcel List</a>
    <br>
    <a th:href="@{/parceldocument/list}">Parcel Document List</a>
    <br>
    <a th:href="@{/parcelownership/list}">Parcel Ownership List</a>
    <br>
    <a th:href="@{/person/list}">Person List</a>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>



