<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Persons</title>
</head>

<body>

<div class="container">

    <h3>Persons</h3>
    <hr>
    <a th:href="@{/}">Home</a>
    <br><br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>parcel id</th>
            <th>first name</th>
            <th>middle name</th>
            <th>last name </th>
            <th>date purchased</th>
            <th>date sold</th>
            <th>is current owner</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPerson : ${persons}">
            <td th:text="${tempPerson.id}" />
            <td th:text="${tempPerson.parcelid}" />
            <td th:text="${tempPerson.firstName}" />
            <td th:text="${tempPerson.middleName}" />
            <td th:text="${tempPerson.lastName}" />
            <td th:text="${tempPerson.datePurchased}" />
            <td th:text="${tempPerson.dateSold}" />
            <td th:text="${tempPerson.isCurrentOwner}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



