<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Persons</title>
</head>

<body>

<div class="container">

    <h3>Persons</h3>
    <hr>
    <a th:href="@{/}">Home</a>
    <br><br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th onclick="sort(this.id)" id="id" style="cursor:hand">id</th>
            <th onclick="sort(this.id)" id="parcelid" style="cursor:hand">parcel id</th>
            <th onclick="sort(this.id)" id="firstName" style="cursor:hand" >first name</th>
            <th onclick="sort(this.id)" id="middleName" style="cursor:hand">middle name</th>
            <th onclick="sort(this.id)" id="lastName" style="cursor:hand">last name</th>
            <th onclick="sort(this.id)" id="datePurchased"  style="cursor:hand">date purchased</th>
            <th onclick="sort(this.id)" id="dateSold" style="cursor:hand">date sold </th>
            <th onclick="sort(this.id)" id="isCurrentOwner" style="cursor:hand">is current owner</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPerson : ${persons}">
            <td th:text="${tempPerson.id}" />
            <td th:text="${tempPerson.parcelid}" />
            <td th:text="${tempPerson.firstName}" />
            <td th:text="${tempPerson.middleName}" />
            <td th:text="${tempPerson.lastName}" />
            <td th:text="${tempPerson.datePurchased}" />
            <td th:text="${tempPerson.dateSold}" />
            <td th:text="${tempPerson.isCurrentOwner}" />
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">

<!--get order parameter value from model-->
    /*<![CDATA[*/
    var sortdirection = /*[[${order}]]*/ 'default';
    /*]]>*/
    console.log("sortdirection : " + sortdirection);

   function sort(value) {
    if (sortdirection =="ASC") { document.location='/person/list?sortby='+value+'&order=desc' }
    else{ document.location='/person/list?sortby='+ value + '&order=asc'}
    }
</script>

</body>
</html>



