<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>

<body>

<div class="container">

    <h3>Parcelsy</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>parcel id</th>
            <th>date purchased</th>
            <th>date sold</th>
            <th>current owner id</th>
            <th>previous owner id</th>
            <th>current owner </th>
            <th>previous owner </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempParceldocument : ${parceldocuments}">
            <td th:text="${tempParceldocument.id}" />
            <td th:text="${tempParceldocument.parcelid}" />
            <td th:text="${tempParceldocument.datePurchased}" />
            <td th:text="${tempParceldocument.dateSold}" />
            <td th:text="${tempParceldocument.currentOwnerid}" />
            <td th:text="${tempParceldocument.previousOwnerid}" />
            <td th:text="${tempParceldocument.currentOwner}" />
            <td th:text="${tempParceldocument.previousOwner}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



